* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 19px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #ddd;
  letter-spacing: 1.8px;
  padding: 10px 5px;
  font-family: Roboto, Oxygen;
}

p {
  padding: 5px;
  color: #fff;
  line-height: 35px;
}

a {
  color: #16e673;
}

img,
iframe {
  width: 100%;
}

.hide {
  display: none;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-family: roboto;
}

.social-menu .fa {
  color: #fff;
  font-size: 30px;
  padding: 10px 12px;
  border-radius: 50%;
  margin: 5px;
  border: 1px solid #fff;
}

#preloader {
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  position: fixed;
  display: -ms-grid;
  display: grid;
  z-index: 10;
  place-content: center;
  background: radial-gradient(#13173a, #121634, #131735);
}

#preloader > div {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}

/**  Dot Windmill Preloader **/
.sbl-sticks-spin {
  height: 48px;
  width: 4px;
  background: #ffffff;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  -webkit-animation: animateSticks1 3s ease infinite;
          animation: animateSticks1 3s ease infinite;
}

.sbl-sticks-spin::before,
.sbl-sticks-spin::after {
  height: inherit;
  width: inherit;
  content: '';
  display: block;
  background: inherit;
  position: absolute;
  border-radius: 4px;
}

.sbl-sticks-spin::before {
  left: 0;
  -webkit-animation: animateSticks2 1s 0.5s ease infinite;
          animation: animateSticks2 1s 0.5s ease infinite;
}

.sbl-sticks-spin::after {
  right: 0;
  -webkit-animation: animateSticks3 1s 1s ease infinite;
          animation: animateSticks3 1s 1s ease infinite;
}

@-webkit-keyframes animateSticks1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes animateSticks1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes animateSticks2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%,
  100% {
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
  }
}

@keyframes animateSticks2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%,
  100% {
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
  }
}

@-webkit-keyframes animateSticks3 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%,
  100% {
    -webkit-transform: rotate(115deg);
            transform: rotate(115deg);
  }
}

@keyframes animateSticks3 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%,
  100% {
    -webkit-transform: rotate(115deg);
            transform: rotate(115deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

header {
  position: relative;
}

header .site-nav {
  top: 0;
  width: 100%;
  padding: 20px;
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .site-nav .site-menu {
  display: none;
}

header .site-nav .site-menu li {
  padding: 10px;
}

header .site-nav .site-menu li a {
  color: #fff;
  font-size: 23px;
  font-weight: bold;
}

header .site-nav .site-menu li:nth-child(3) a {
  color: #16e673;
  font-size: 30px;
}

@media (min-width: 780px) {
  header .site-nav .site-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
  }
}

header .site-nav #toggleBtn {
  color: #ddd;
  height: 32px;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  position: relative;
}

header .site-nav #toggleBtn .line {
  height: 3px;
  width: 50px;
  margin-left: auto;
  border-radius: 5px;
  background: #fff;
}

header .site-nav #toggleBtn .line:nth-child(2) {
  width: 35px;
}

header .site-nav #toggleBtn .line:nth-child(3) {
  width: 42px;
}

header .site-nav #toggleBtn.close .line {
  width: 40px;
  display: none;
}

header .site-nav #toggleBtn.close .line:nth-child(3) {
  display: block;
  -webkit-transform: translateY(13px) rotate(45deg);
          transform: translateY(13px) rotate(45deg);
}

header .site-nav #toggleBtn.close .line:nth-child(4) {
  display: block;
  -webkit-transform: translateY(-16px) rotate(-45deg);
          transform: translateY(-16px) rotate(-45deg);
}

@media (min-width: 780px) {
  header .site-nav #toggleBtn {
    display: none;
  }
}

header #sideBar {
  padding: 10px;
  position: absolute;
  width: 340px;
  height: 100%;
  z-index: 1;
  top: 0;
  right: 0;
  padding-top: 60px;
  background: #111111;
}

header #sideBar li a {
  display: block;
  color: #ddd;
  font-size: 22px;
  padding: 13px 25px;
  letter-spacing: 1px;
  border-bottom: 1px solid #222;
}

header #sideBar li a:hover {
  border-color: #12b75c;
  color: #12b75c;
}

header #sideBar li:last-child a {
  color: #16e673;
  font-size: 24px;
  border: none;
}

#intro {
  height: 100vh;
  padding: 30px;
  min-height: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 0, 19, 0.7)), color-stop(rgba(15, 19, 55, 0.7)), to(rgba(2, 0, 19, 0.7))), url(../images/joeboyofficial.jpg) no-repeat center;
  background: linear-gradient(rgba(2, 0, 19, 0.7), rgba(15, 19, 55, 0.7), rgba(2, 0, 19, 0.7)), url(../images/joeboyofficial.jpg) no-repeat center;
  background-size: cover;
}

#intro .glitch.vhs-effect {
  font-size: 110px;
}

@media (min-width: 1024px) {
  #intro {
    min-height: 600px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-position-y: -100px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 0, 19, 0.95)), color-stop(rgba(15, 19, 55, 0.95)), to(rgba(2, 0, 19, 0.95))), url(../images/joeboyofficial.jpg) no-repeat center;
    background: linear-gradient(rgba(2, 0, 19, 0.95), rgba(15, 19, 55, 0.95), rgba(2, 0, 19, 0.95)), url(../images/joeboyofficial.jpg) no-repeat center;
    background-position-y: top;
    background-size: cover;
  }
  #intro .social-menu {
    position: relative;
    left: 0;
    bottom: -100px;
  }
  #intro .social-menu a .fa {
    font-size: 38px;
  }
  #intro .intro-image {
    display: block;
    width: 380px;
    margin-right: 20px;
    padding-top: 65px;
  }
  #intro .intro-image img {
    border-radius: 20px;
    -webkit-box-shadow: 25px 25px 1px #4b4b55;
            box-shadow: 25px 25px 1px #4b4b55;
  }
}

.intro-text {
  margin-right: 40px;
}

.intro-text .glitch.vhs-effect {
  color: #16e673;
  font-size: 95px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
}

.intro-text h4 {
  font-size: 46px;
}

.intro-text .social-menu {
  bottom: 40px;
  padding: 10px 0;
  position: absolute;
  left: 20px;
  z-index: 2;
}

.intro-text .social-menu a .fa:hover {
  border-color: #12b75c;
  color: #12b75c;
}

main {
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.95)), color-stop(rgba(0, 1, 5, 0.95)), to(rgba(0, 0, 0, 0.95)));
  background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 1, 5, 0.95), rgba(0, 0, 0, 0.95));
}

main > section {
  padding: 30px 20px;
}

main > section .heading {
  color: #fff;
  font-size: 23px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#latest-song {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#latest-song iframe {
  padding: 10px;
}

@media (min-width: 780px) {
  #latest-song {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

#music .content {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#music .content #song .image {
  height: auto;
  max-height: 460px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#music .content #song h4 {
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

#music .content #song .songlinks {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
  padding: 25px 10px;
  display: -ms-grid;
  display: grid;
  position: absolute;
  place-items: center;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  -webkit-transition: 1s 0.5s linear;
  transition: 1s 0.5s linear;
  background: rgba(154, 154, 172, 0.4);
}

#music .content #song .songlinks a {
  width: 150px;
}

@media (min-width: 680px) {
  #music .content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #music .content .image {
    max-height: 320px;
  }
}

@media (min-width: 780px) {
  #music .content {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  #music .content .image {
    max-height: 380px;
  }
}

#video .content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#video .content iframe {
  height: 260px;
  padding: 10px;
}

@media (min-width: 680px) {
  #video .content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 780px) {
  #video .content {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

footer {
  background: #080808;
}

footer #backtoTop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right: 40px;
  background: rgba(8, 8, 8, 0.85);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  cursor: pointer;
  -webkit-box-shadow: 0 0 8px #111;
          box-shadow: 0 0 8px #111;
}

footer #backtoTop .fa {
  color: #fff;
  font-size: 50px;
}

footer .social-menu {
  padding-left: 20px;
}

footer .social-menu .fa:hover {
  border-color: #12b75c;
  color: #12b75c;
}

footer #copyright {
  padding: 5px;
  text-align: center;
}

footer #copyright p {
  color: #eee;
}

@media (max-width: 480px) {
  #intro {
    padding: 5px;
    padding-left: 20px;
  }
  #intro .intro-text .glitch.vhs-effect {
    font-size: 70px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 130%;
  }
  main section,
  footer .content {
    max-width: 1200px;
    margin: auto;
  }
}
